/SystemLogic2_ECP3_DAVIS128
/SystemLogic2_ECP3_DAVIS128_TestBoard
/SystemLogic2_ECP3_DAVIS208
/SystemLogic2_ECP3_DAVIS208_TestBoard
/SystemLogic2_ECP3_DAVIS240a
/SystemLogic2_ECP3_DAVIS240b
/SystemLogic2_ECP3_DAVIS240c
/SystemLogic2_ECP3_DAVIS346a
/SystemLogic2_ECP3_DAVIS346a_TestBoard
/SystemLogic2_ECP3_DAVIS346b
/SystemLogic2_ECP3_DAVIS346b_TestBoard
/SystemLogic2_ECP3_DAVIS346cBSI
/SystemLogic2_ECP3_DAVIS640
/SystemLogic2_ECP3_DAVIS640_TestBoard
/SystemLogic2_ECP3_DAVISrgb
/*.dir
/*.html
/*.xml
/*.ini
/*.ccl
/.recovery
