// Global configuration
SYSCONFIG PERSISTENT=SSPI CONFIG_MODE=SSPI CONFIG_IOVOLTAGE=1.8 ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
// Global port configuration
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST ;
OUTPUT ALLPORTS LOAD 10.000000 pF ;
// Bank voltages
BANK 0 VCCIO 3.3 V;// VARIABLE: 3.3, 1.8, 1.2
BANK 1 VCCIO 3.3 V;// VARIABLE: 3.3, 1.8, 1.2
BANK 2 VCCIO 3.3 V;// VARIABLE: 3.3, 1.8, 1.2
BANK 3 VCCIO 1.8 V;// FIXED AT 1.8
BANK 6 VCCIO 3.3 V;// FIXED AT 3.3
BANK 7 VCCIO 3.3 V;// VARIABLE: 3.3, 1.8, 1.2
BANK 8 VCCIO 1.8 V;// FIXED AT 1.8
// Main clock (input from FX3)
LOCATE COMP "USBClock_CI" SITE "N19" ;// IFClock (from FX3)
IOBUF PORT "USBClock_CI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
// Clock settings
FREQUENCY PORT "USBClock_CI" 80.000000 MHz ;
FREQUENCY NET "USBClock_CI_c" 80.000000 MHz ;
USE PRIMARY NET "USBClock_CI_c" ;
FREQUENCY NET "LogicClock_C" 100.000000 MHz ;
USE PRIMARY NET "LogicClock_C" ;
// FX3 controls
LOCATE COMP "Reset_RI" SITE "N20" ;// FPGA Reset
IOBUF PORT "Reset_RI" IO_TYPE=LVCMOS18 PULLMODE=UP ;
INPUT_SETUP PORT "Reset_RI" INPUT_DELAY 1.000000 ns HOLD -0.500000 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "Reset_RI" INPUT_DELAY 1.000000 ns HOLD -0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SPISlaveSelect_ABI" SITE "T20" ;// FPGA SPI SlaveSelect (active-low)
IOBUF PORT "SPISlaveSelect_ABI" IO_TYPE=LVCMOS18 PULLMODE=UP ;
INPUT_SETUP PORT "SPISlaveSelect_ABI" INPUT_DELAY 1.000000 ns HOLD -0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SPIClock_AI" SITE "T19" ;// FPGA SPI Clock
IOBUF PORT "SPIClock_AI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "SPIClock_AI" INPUT_DELAY 1.000000 ns HOLD -0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SPIMOSI_AI" SITE "T18" ;// FPGA SPI MOSI
IOBUF PORT "SPIMOSI_AI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "SPIMOSI_AI" INPUT_DELAY 1.000000 ns HOLD -0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SPIMISO_DZO" SITE "T22" ;// FPGA SPI MISO
IOBUF PORT "SPIMISO_DZO" IO_TYPE=LVCMOS18 PULLMODE=DOWN SLEWRATE=FAST ;
CLOCK_TO_OUT PORT "SPIMISO_DZO" OUTPUT_DELAY 0.500000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
// FX3 USB FIFO (data transmission)
LOCATE COMP "USBFifoChipSelect_SBO" SITE "Y20" ;// SLCS
IOBUF PORT "USBFifoChipSelect_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP DRIVE=16 SLEWRATE=FAST ;
CLOCK_TO_OUT PORT "USBFifoChipSelect_SBO" OUTPUT_DELAY 2.000000 ns MIN 0.500000 ns CLKNET "USBClock_CI_c" ;
LOCATE COMP "USBFifoWrite_SBO" SITE "AA19" ;// SLWR
IOBUF PORT "USBFifoWrite_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP DRIVE=16 SLEWRATE=FAST ;
CLOCK_TO_OUT PORT "USBFifoWrite_SBO" OUTPUT_DELAY 2.000000 ns MIN 0.500000 ns CLKNET "USBClock_CI_c" ;
LOCATE COMP "USBFifoRead_SBO" SITE "Y17" ;// SLOESLRD
IOBUF PORT "USBFifoRead_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP DRIVE=16 SLEWRATE=FAST ;
CLOCK_TO_OUT PORT "USBFifoRead_SBO" OUTPUT_DELAY 2.000000 ns MIN 0.500000 ns CLKNET "USBClock_CI_c" ;
LOCATE COMP "USBFifoPktEnd_SBO" SITE "Y18" ;// PktEnd
IOBUF PORT "USBFifoPktEnd_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP DRIVE=16 SLEWRATE=FAST ;
CLOCK_TO_OUT PORT "USBFifoPktEnd_SBO" OUTPUT_DELAY 2.000000 ns MIN 0.500000 ns CLKNET "USBClock_CI_c" ;
LOCATE COMP "USBFifoThr0Ready_SI" SITE "Y19" ;// THR0_READY
IOBUF PORT "USBFifoThr0Ready_SI" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
INPUT_SETUP PORT "USBFifoThr0Ready_SI" INPUT_DELAY 8.000000 ns HOLD 0.000000 ns CLKNET "USBClock_CI_c" ;
LOCATE COMP "USBFifoThr0Watermark_SI" SITE "AA17" ;// THR0_WATERMARK
IOBUF PORT "USBFifoThr0Watermark_SI" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
INPUT_SETUP PORT "USBFifoThr0Watermark_SI" INPUT_DELAY 8.000000 ns HOLD 0.000000 ns CLKNET "USBClock_CI_c" ;
LOCATE COMP "USBFifoThr1Ready_SI" SITE "Y22" ;// THR1_READY
IOBUF PORT "USBFifoThr1Ready_SI" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
INPUT_SETUP PORT "USBFifoThr1Ready_SI" INPUT_DELAY 8.000000 ns HOLD 0.000000 ns CLKNET "USBClock_CI_c" ;
LOCATE COMP "USBFifoThr1Watermark_SI" SITE "V17" ;// THR1_WATERMARK
IOBUF PORT "USBFifoThr1Watermark_SI" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
INPUT_SETUP PORT "USBFifoThr1Watermark_SI" INPUT_DELAY 8.000000 ns HOLD 0.000000 ns CLKNET "USBClock_CI_c" ;
LOCATE COMP "USBFifoAddress_DO[1]" SITE "U16" ;// FifoAddr1
LOCATE COMP "USBFifoAddress_DO[0]" SITE "U22" ;// FifoAddr0
DEFINE PORT GROUP "USBFifoAddress_DO" "USBFifoAddress_DO[1]" 
"USBFifoAddress_DO[0]" ;
IOBUF GROUP "USBFifoAddress_DO" IO_TYPE=LVCMOS18 PULLMODE=DOWN DRIVE=16 SLEWRATE=FAST ;
CLOCK_TO_OUT GROUP "USBFifoAddress_DO" OUTPUT_DELAY 2.000000 ns MIN 0.500000 ns CLKNET "USBClock_CI_c" ;
LOCATE COMP "USBFifoData_DO[15]" SITE "V22" ;
LOCATE COMP "USBFifoData_DO[14]" SITE "W22" ;
LOCATE COMP "USBFifoData_DO[13]" SITE "V18" ;
LOCATE COMP "USBFifoData_DO[12]" SITE "W17" ;
LOCATE COMP "USBFifoData_DO[11]" SITE "V19" ;
LOCATE COMP "USBFifoData_DO[10]" SITE "AB21" ;
LOCATE COMP "USBFifoData_DO[9]" SITE "W18" ;
LOCATE COMP "USBFifoData_DO[8]" SITE "AA20" ;
LOCATE COMP "USBFifoData_DO[7]" SITE "AA21" ;
LOCATE COMP "USBFifoData_DO[6]" SITE "AB19" ;
LOCATE COMP "USBFifoData_DO[5]" SITE "W21" ;
LOCATE COMP "USBFifoData_DO[4]" SITE "AA22" ;
LOCATE COMP "USBFifoData_DO[3]" SITE "AB20" ;
LOCATE COMP "USBFifoData_DO[2]" SITE "W19" ;
LOCATE COMP "USBFifoData_DO[1]" SITE "AB18" ;
LOCATE COMP "USBFifoData_DO[0]" SITE "AB17" ;
DEFINE PORT GROUP "USBFifoData_DO" "USBFifoData_DO[15]" 
"USBFifoData_DO[14]" 
"USBFifoData_DO[13]" 
"USBFifoData_DO[12]" 
"USBFifoData_DO[11]" 
"USBFifoData_DO[10]" 
"USBFifoData_DO[9]" 
"USBFifoData_DO[8]" 
"USBFifoData_DO[7]" 
"USBFifoData_DO[6]" 
"USBFifoData_DO[5]" 
"USBFifoData_DO[4]" 
"USBFifoData_DO[3]" 
"USBFifoData_DO[2]" 
"USBFifoData_DO[1]" 
"USBFifoData_DO[0]" ;
IOBUF GROUP "USBFifoData_DO" IO_TYPE=LVCMOS18 PULLMODE=DOWN DRIVE=16 SLEWRATE=FAST ;
CLOCK_TO_OUT GROUP "USBFifoData_DO" OUTPUT_DELAY 2.000000 ns MIN 0.500000 ns CLKNET "USBClock_CI_c" ;
// FPGA controlled LEDs
LOCATE COMP "LED1_SO" SITE "G20" ;// SP_LED1
IOBUF PORT "LED1_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED1_SO" OUTPUT_DELAY 0.500000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "LED2_SO" SITE "H19" ;// SP_LED2
IOBUF PORT "LED2_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED2_SO" OUTPUT_DELAY 0.500000 ns MIN 0.500000 ns CLKNET "USBClock_CI_c" ;
LOCATE COMP "LED3_SO" SITE "H20" ;// SP_LED3
IOBUF PORT "LED3_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED3_SO" OUTPUT_DELAY 0.500000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "LED4_SO" SITE "G19" ;// SP_LED4
IOBUF PORT "LED4_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED4_SO" OUTPUT_DELAY 0.500000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "LED5_SO" SITE "H17" ;// SP_LED5
IOBUF PORT "LED5_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED5_SO" OUTPUT_DELAY 0.500000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "LED6_SO" SITE "J16" ;// SP_LED6
IOBUF PORT "LED6_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED6_SO" OUTPUT_DELAY 0.500000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
// SERDES Clock (150MHz) Control
LOCATE COMP "SERDESClockOutputEnable_SO" SITE "AA1" ;
IOBUF PORT "SERDESClockOutputEnable_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "SERDESClockOutputEnable_SO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
// Auxiliary Clock (100MHz) Control
LOCATE COMP "AuxClockOutputEnable_SO" SITE "Y1" ;
IOBUF PORT "AuxClockOutputEnable_SO" PULLMODE=DOWN SLEWRATE=SLOW IO_TYPE=LVCMOS33 ;
CLOCK_TO_OUT PORT "AuxClockOutputEnable_SO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
// Bias configuration
LOCATE COMP "ChipPowerDown_SO" SITE "B10" ;
IOBUF PORT "ChipPowerDown_SO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "ChipPowerDown_SO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "ChipBiasSelect_SO" SITE "A10" ;
IOBUF PORT "ChipBiasSelect_SO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "ChipBiasSelect_SO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "ChipBiasClock_CBO" SITE "F11" ;
IOBUF PORT "ChipBiasClock_CBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "ChipBiasClock_CBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "ChipBiasBitIn_DO" SITE "C10" ;
IOBUF PORT "ChipBiasBitIn_DO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "ChipBiasBitIn_DO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "ChipBiasLatch_SBO" SITE "A9" ;
IOBUF PORT "ChipBiasLatch_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "ChipBiasLatch_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
// Main AER bus from SampleProb chip
LOCATE COMP "AERReq_ABI" SITE "C7" ;
IOBUF PORT "AERReq_ABI" PULLMODE=UP ;
INPUT_SETUP PORT "AERReq_ABI" INPUT_DELAY 0.500000 ns HOLD -0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "AERAck_SBO" SITE "B7" ;
IOBUF PORT "AERAck_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "AERAck_SBO" OUTPUT_DELAY 0.500000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "AERReset_SO" SITE "A11" ;
IOBUF PORT "AERReset_SO" PULLMODE=UP ;// Keep in reset by default
CLOCK_TO_OUT PORT "AERReset_SO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "AERData_AI[3]" SITE "C9" ;
LOCATE COMP "AERData_AI[2]" SITE "B8" ;
LOCATE COMP "AERData_AI[1]" SITE "C8" ;
LOCATE COMP "AERData_AI[0]" SITE "A7" ;
DEFINE PORT GROUP "AERData_AI" "AERData_AI[3]" 
"AERData_AI[2]" 
"AERData_AI[1]" 
"AERData_AI[0]" ;
IOBUF GROUP "AERData_AI" PULLMODE=DOWN ;
INPUT_SETUP GROUP "AERData_AI"INPUT_DELAY 1.000000 ns HOLD -0.500000 ns CLKNET "LogicClock_C" ;
// External DAC configuration
LOCATE COMP "DACSync1_SBO" SITE "F3" ;
IOBUF PORT "DACSync1_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "DACSync1_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "DACSync2_SBO" SITE "G5" ;
IOBUF PORT "DACSync2_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "DACSync2_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "DACSync3_SBO" SITE "F4" ;
IOBUF PORT "DACSync3_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "DACSync3_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "DACClock_CO" SITE "G2" ;
IOBUF PORT "DACClock_CO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "DACClock_CO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "DACDataOut_DO" SITE "F1" ;
IOBUF PORT "DACDataOut_DO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "DACDataOut_DO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
// External clocks configuration (generated by FPGA)
LOCATE COMP "ClockRNG_CO" SITE "K4" ;
IOBUF PORT "ClockRNG_CO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "ClockRNG_CO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "ClockHazardExt_CO" SITE "M21" ;
IOBUF PORT "ClockHazardExt_CO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "ClockHazardExt_CO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
// SRAM Banks
LOCATE COMP "SRAMChipEnable1_SBO" SITE "T7" ;
IOBUF PORT "SRAMChipEnable1_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMChipEnable1_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SRAMOutputEnable1_SBO" SITE "T9" ;
IOBUF PORT "SRAMOutputEnable1_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMOutputEnable1_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SRAMWriteEnable1_SBO" SITE "U4" ;
IOBUF PORT "SRAMWriteEnable1_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMWriteEnable1_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SRAMChipEnable2_SBO" SITE "T8" ;
IOBUF PORT "SRAMChipEnable2_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMChipEnable2_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SRAMOutputEnable2_SBO" SITE "U1" ;
IOBUF PORT "SRAMOutputEnable2_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMOutputEnable2_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SRAMWriteEnable2_SBO" SITE "U5" ;
IOBUF PORT "SRAMWriteEnable2_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMWriteEnable2_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SRAMChipEnable3_SBO" SITE "U7" ;
IOBUF PORT "SRAMChipEnable3_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMChipEnable3_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SRAMOutputEnable3_SBO" SITE "U2" ;
IOBUF PORT "SRAMOutputEnable3_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMOutputEnable3_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SRAMWriteEnable3_SBO" SITE "W6" ;
IOBUF PORT "SRAMWriteEnable3_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMWriteEnable3_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SRAMChipEnable4_SBO" SITE "Y3" ;
IOBUF PORT "SRAMChipEnable4_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMChipEnable4_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SRAMOutputEnable4_SBO" SITE "Y2" ;
IOBUF PORT "SRAMOutputEnable4_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMOutputEnable4_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SRAMWriteEnable4_SBO" SITE "Y5" ;
IOBUF PORT "SRAMWriteEnable4_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMWriteEnable4_SBO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SRAMAddress_DO[20]" SITE "T6" ;
LOCATE COMP "SRAMAddress_DO[19]" SITE "T5" ;
LOCATE COMP "SRAMAddress_DO[18]" SITE "T4" ;
LOCATE COMP "SRAMAddress_DO[17]" SITE "R9" ;
LOCATE COMP "SRAMAddress_DO[16]" SITE "R7" ;
LOCATE COMP "SRAMAddress_DO[15]" SITE "R6" ;
LOCATE COMP "SRAMAddress_DO[14]" SITE "R4" ;
LOCATE COMP "SRAMAddress_DO[13]" SITE "R3" ;
LOCATE COMP "SRAMAddress_DO[12]" SITE "R2" ;
LOCATE COMP "SRAMAddress_DO[11]" SITE "R1" ;
LOCATE COMP "SRAMAddress_DO[10]" SITE "P7" ;
LOCATE COMP "SRAMAddress_DO[9]" SITE "P6" ;
LOCATE COMP "SRAMAddress_DO[8]" SITE "P5" ;
LOCATE COMP "SRAMAddress_DO[7]" SITE "P4" ;
LOCATE COMP "SRAMAddress_DO[6]" SITE "P3" ;
LOCATE COMP "SRAMAddress_DO[5]" SITE "P1" ;
LOCATE COMP "SRAMAddress_DO[4]" SITE "N6" ;
LOCATE COMP "SRAMAddress_DO[3]" SITE "N5" ;
LOCATE COMP "SRAMAddress_DO[2]" SITE "N4" ;
LOCATE COMP "SRAMAddress_DO[1]" SITE "N3" ;
LOCATE COMP "SRAMAddress_DO[0]" SITE "N2" ;
DEFINE PORT GROUP "SRAMAddress_DO" "SRAMAddress_DO[20]" 
"SRAMAddress_DO[19]" 
"SRAMAddress_DO[18]" 
"SRAMAddress_DO[17]" 
"SRAMAddress_DO[16]" 
"SRAMAddress_DO[15]" 
"SRAMAddress_DO[14]" 
"SRAMAddress_DO[13]" 
"SRAMAddress_DO[12]" 
"SRAMAddress_DO[11]" 
"SRAMAddress_DO[10]" 
"SRAMAddress_DO[9]" 
"SRAMAddress_DO[8]" 
"SRAMAddress_DO[7]" 
"SRAMAddress_DO[6]" 
"SRAMAddress_DO[5]" 
"SRAMAddress_DO[4]" 
"SRAMAddress_DO[3]" 
"SRAMAddress_DO[2]" 
"SRAMAddress_DO[1]" 
"SRAMAddress_DO[0]" ;
IOBUF GROUP "SRAMAddress_DO" PULLMODE=DOWN ;
CLOCK_TO_OUT GROUP "SRAMAddress_DO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
LOCATE COMP "SRAMData_DZIO[15]" SITE "W2" ;
LOCATE COMP "SRAMData_DZIO[14]" SITE "W1" ;
LOCATE COMP "SRAMData_DZIO[13]" SITE "W3" ;
LOCATE COMP "SRAMData_DZIO[12]" SITE "W4" ;
LOCATE COMP "SRAMData_DZIO[11]" SITE "W5" ;
LOCATE COMP "SRAMData_DZIO[10]" SITE "Y6" ;
LOCATE COMP "SRAMData_DZIO[9]" SITE "AB6" ;
LOCATE COMP "SRAMData_DZIO[8]" SITE "AB5" ;
LOCATE COMP "SRAMData_DZIO[7]" SITE "N1" ;
LOCATE COMP "SRAMData_DZIO[6]" SITE "M5" ;
LOCATE COMP "SRAMData_DZIO[5]" SITE "M4" ;
LOCATE COMP "SRAMData_DZIO[4]" SITE "M2" ;
LOCATE COMP "SRAMData_DZIO[3]" SITE "M1" ;
LOCATE COMP "SRAMData_DZIO[2]" SITE "L4" ;
LOCATE COMP "SRAMData_DZIO[1]" SITE "L3" ;
LOCATE COMP "SRAMData_DZIO[0]" SITE "L2" ;
DEFINE PORT GROUP "SRAMData_DZIO" "SRAMData_DZIO[15]" 
"SRAMData_DZIO[14]" 
"SRAMData_DZIO[13]" 
"SRAMData_DZIO[12]" 
"SRAMData_DZIO[11]" 
"SRAMData_DZIO[10]" 
"SRAMData_DZIO[9]" 
"SRAMData_DZIO[8]" 
"SRAMData_DZIO[7]" 
"SRAMData_DZIO[6]" 
"SRAMData_DZIO[5]" 
"SRAMData_DZIO[4]" 
"SRAMData_DZIO[3]" 
"SRAMData_DZIO[2]" 
"SRAMData_DZIO[1]" 
"SRAMData_DZIO[0]" ;
IOBUF GROUP "SRAMData_DZIO" PULLMODE=DOWN ;
CLOCK_TO_OUT GROUP "SRAMData_DZIO" OUTPUT_DELAY 1.000000 ns MIN 0.500000 ns CLKNET "LogicClock_C" ;
INPUT_SETUP GROUP "SRAMData_DZIO"INPUT_DELAY 6.000000 ns HOLD -0.500000 ns CLKNET "LogicClock_C" ;

// Debug signals
LOCATE COMP "Cs[2]" SITE "F13" ;					//  3
LOCATE COMP "Cs[1]" SITE "E12" ;					//  5
LOCATE COMP "Cs[0]" SITE "D14" ;					//  7
LOCATE COMP "Bit_To_Chip_A[5]" SITE "B11" ;			//  9
LOCATE COMP "Bit_To_Chip_A[4]" SITE "E16" ;			// 11
LOCATE COMP "Bit_To_Chip_A[3]" SITE "A12" ;			// 13
LOCATE COMP "Bit_To_Chip_A[2]" SITE "B14" ;			// 15
LOCATE COMP "Bit_To_Chip_A[1]" SITE "C15" ;			// 17

LOCATE COMP "Bit_To_Chip_A[0]" SITE "D15" ;			// 21
LOCATE COMP "Bit_To_Chip_B[5]" SITE "A15" ;			// 23
LOCATE COMP "Bit_To_Chip_B[4]" SITE "A16" ;			// 25
LOCATE COMP "Bit_To_Chip_B[3]" SITE "B16" ;			// 27
LOCATE COMP "Bit_To_Chip_B[2]" SITE "A18" ;			// 29
LOCATE COMP "Bit_To_Chip_B[1]" SITE "B18" ;			// 31
LOCATE COMP "Bit_To_Chip_B[0]" SITE "A19" ;			// 33
// LOCATE COMP "" SITE "F14" ;		// 35
// LOCATE COMP "" SITE "F16" ;		// 37

// LOCATE COMP "" SITE "E13" ;		//  4
// LOCATE COMP "" SITE "D13" ;		//  6
// LOCATE COMP "" SITE "C13" ;				//  8
// LOCATE COMP "" SITE "E15" ;				// 10
// LOCATE COMP "" SITE "B12" ;				// 12
// LOCATE COMP "" SITE "C14" ;				// 14
// LOCATE COMP "" SITE "A13" ;				// 16
// LOCATE COMP "" SITE "A14" ;				// 18
// LOCATE COMP "" SITE "B15" ;				// 20

// LOCATE COMP "" SITE "A17" ;				// 28

LOCATE COMP "Exp_W1_Rising" SITE "D16" ;			// 32
// LOCATE COMP "" SITE "D17" ;			// 34
// LOCATE COMP "" SITE "F15" ;			// 36

DEFINE PORT GROUP "Test" 
"Cs[2]" 
"Cs[1]" 
"Cs[0]" 
"Bit_To_Chip_A[5]"
"Bit_To_Chip_A[4]"
"Bit_To_Chip_A[3]"
"Bit_To_Chip_A[2]"
"Bit_To_Chip_A[1]"
"Bit_To_Chip_A[0]"
"Bit_To_Chip_B[5]"
"Bit_To_Chip_B[4]"
"Bit_To_Chip_B[3]"
"Bit_To_Chip_B[2]"
"Bit_To_Chip_B[1]"
"Bit_To_Chip_B[0]"
"Exp_W1_Rising"
;

IOBUF GROUP "Test" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
CLOCK_TO_OUT GROUP "Test" OUTPUT_DELAY 0.1 ns MIN 0.5 ns CLKNET "LogicClock_C" ;
IOBUF GROUP "Test" DRIVE=20 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;