BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY NET "ClockxC_c" 90.000000 MHz ;
USE PRIMARY NET "IfClockxCI_c" ;
USE PRIMARY NET "ClockxC_c" ;
DEFINE PORT GROUP "FX2FifoData" "FX2FifoDataxDIO_7" 
"FX2FifoDataxDIO_6" 
"FX2FifoDataxDIO_5" 
"FX2FifoDataxDIO_4" 
"FX2FifoDataxDIO_3" 
"FX2FifoDataxDIO_2" 
"FX2FifoDataxDIO_1" 
"FX2FifoDataxDIO_0" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "FX2FifoAddressxDO_1" SITE "D1" ; # FifoAddr1
LOCATE COMP "PE2xSI" SITE "B5" ; # PE2
LOCATE COMP "FX2FifoInFullxSBI" SITE "N1" ; # EP6Full
LOCATE COMP "ResetxRBI" SITE "B13" ; # ResetCPLD
LOCATE COMP "SyncInxAI" SITE "A12" ; # SyncInClk
LOCATE COMP "SynchOutxSO" SITE "B10" ; # SyncOutClk
LOCATE COMP "PC0xSIO" SITE "M1" ; #
LOCATE COMP "PC1xSIO" SITE "L1" ; #
LOCATE COMP "PC2xSIO" SITE "K1" ; #
LOCATE COMP "PC3xSIO" SITE "J1" ; #
LOCATE COMP "PA0xSIO" SITE "H1" ; # PA0
LOCATE COMP "PA1xSIO" SITE "G1" ; # PA1
LOCATE COMP "PA3xSIO" SITE "F2" ; #
LOCATE COMP "PA7xSIO" SITE "B1" ; #
LOCATE COMP "PE3xSI" SITE "A5" ; #
#LOCATE COMP "FXLEDxSI" SITE "A2" ; 
#LOCATE COMP "ADCbusyxSI" SITE "A13" ; 
LOCATE COMP "AERMonitorREQxABI" SITE "N16" ; # nReq
LOCATE COMP "AERMonitorAddressxDI_8" SITE "F16" ; #
LOCATE COMP "AERMonitorAddressxDI_7" SITE "G16" ; #
LOCATE COMP "AERMonitorAddressxDI_6" SITE "H16" ; #
LOCATE COMP "AERMonitorAddressxDI_5" SITE "J16" ; #
LOCATE COMP "AERMonitorAddressxDI_4" SITE "K16" ; #
LOCATE COMP "AERMonitorAddressxDI_3" SITE "L16" ; #
LOCATE COMP "AERMonitorAddressxDI_2" SITE "L15" ; #
LOCATE COMP "AERMonitorAddressxDI_1" SITE "M16" ; #
LOCATE COMP "AERMonitorAddressxDI_0" SITE "M15" ; #
OUTPUT PORT "FX2FifoDataxDIO_7" LOAD 1.000000 pF ; 
OUTPUT PORT "FX2FifoDataxDIO_6" LOAD 1.000000 pF ; 
OUTPUT PORT "FX2FifoDataxDIO_5" LOAD 1.000000 pF ; 
OUTPUT PORT "FX2FifoDataxDIO_4" LOAD 1.000000 pF ; 
OUTPUT PORT "FX2FifoDataxDIO_3" LOAD 1.000000 pF ; 
OUTPUT PORT "FX2FifoDataxDIO_2" LOAD 1.000000 pF ; 
OUTPUT PORT "FX2FifoDataxDIO_1" LOAD 1.000000 pF ; 
OUTPUT PORT "FX2FifoDataxDIO_0" LOAD 1.000000 pF ; 
OUTPUT PORT "FX2FifoWritexEBO" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoReadxEBO" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoPktEndxSBO" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoAddressxDO_1" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoAddressxDO_0" LOAD 1.000000 pF ;
OUTPUT PORT "SynchOutxSO" LOAD 1.000000 pF ;
#OUTPUT PORT "PA1xSIO" LOAD 1.000000 pF ;
OUTPUT PORT "ADCclockxCO" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwritexEBO" LOAD 1.000000 pF ;
OUTPUT PORT "ADCreadxEBO" LOAD 1.000000 pF ;
OUTPUT PORT "ADCconvstxEBO" LOAD 1.000000 pF ;
OUTPUT PORT "ScanClockxSO" LOAD 1.000000 pF ;
OUTPUT PORT "PowerdownxEO" LOAD 1.000000 pF ;
OUTPUT PORT "CochleaResetxRBO" LOAD 1.000000 pF ;
OUTPUT PORT "DataSelxSO" LOAD 1.000000 pF ;
OUTPUT PORT "AddSelxSO" LOAD 1.000000 pF ;
OUTPUT PORT "BiasgenSelxSO" LOAD 1.000000 pF ;
OUTPUT PORT "YbitxSO" LOAD 1.000000 pF ;
OUTPUT PORT "AERkillBitxSO" LOAD 1.000000 pF ;
OUTPUT PORT "VctrlKillBitxSO" LOAD 1.000000 pF ;
OUTPUT PORT "SelAERxSO" LOAD 1.000000 pF ;
OUTPUT PORT "SelInxSO" LOAD 1.000000 pF ;
OUTPUT PORT "DACbitInxSO" LOAD 1.000000 pF ;
OUTPUT PORT "DACClkxSO" LOAD 1.000000 pF ;
OUTPUT PORT "DACnSyncxSBO" LOAD 1.000000 pF ;
OUTPUT PORT "PreampARxSO" LOAD 1.000000 pF ;
OUTPUT PORT "PreampGainRxSO" LOAD 1.000000 pF ;
OUTPUT PORT "PreampGainLxSO" LOAD 1.000000 pF ;
OUTPUT PORT "ResCtrlBit1xSO" LOAD 1.000000 pF ;
OUTPUT PORT "ResCtrlBit2xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED1xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED2xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED3xSO" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_7" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_6" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_5" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_4" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_3" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_2" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_1" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_0" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonitorACKxSBO" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_11" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_10" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_9" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_8" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_7" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_6" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_5" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_4" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_3" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_2" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_1" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_0" LOAD 1.000000 pF ;
LOCATE COMP "IfClockxCI" SITE "A9" ; #IFClock 
LOCATE COMP "PDxSIO_7" SITE "A7" ; # FD15
LOCATE COMP "PDxSIO_6" SITE "B7" ; # FD14
LOCATE COMP "PDxSIO_5" SITE "A6" ; # FD13
LOCATE COMP "PDxSIO_4" SITE "B6" ; # FD12
LOCATE COMP "PDxSIO_3" SITE "A4" ; # FD11
LOCATE COMP "PDxSIO_2" SITE "B4" ; # FD10
LOCATE COMP "PDxSIO_1" SITE "A3" ; # FD9
LOCATE COMP "PDxSIO_0" SITE "B3" ; # FD8
LOCATE COMP "SyncbxSI" SITE "T8" ; # Syncb
LOCATE COMP "SyncbpfoutxSI" SITE "R8"; # SyncBpf 
LOCATE COMP "AERMonitorAddressxDI_9" SITE "E16" ;
LOCATE COMP "FX2FifoDataxDIO_7" SITE "R2" ; # FD7
LOCATE COMP "FX2FifoDataxDIO_6" SITE "R1" ; # FD6
LOCATE COMP "FX2FifoDataxDIO_5" SITE "T2" ; # FD5
LOCATE COMP "FX2FifoDataxDIO_4" SITE "T3" ; # FD4
LOCATE COMP "FX2FifoDataxDIO_3" SITE "T4" ; # FD3
LOCATE COMP "FX2FifoDataxDIO_2" SITE "T5" ; # FD2
LOCATE COMP "FX2FifoDataxDIO_1" SITE "T6" ; # FD1
LOCATE COMP "FX2FifoDataxDIO_0" SITE "T7" ; # FD0
LOCATE COMP "FX2FifoWritexEBO" SITE "A2" ; # SLWR
LOCATE COMP "FX2FifoReadxEBO" SITE "F1" ; # SLOESLRD
LOCATE COMP "FX2FifoPktEndxSBO" SITE "B2" ; # PktEnd
LOCATE COMP "FX2FifoAddressxDO_0" SITE "E1" ; # FifoAddr0
#LOCATE COMP "ADCclockxCO" SITE "B13" ;
#LOCATE COMP "ADCwritexEBO" SITE "B14" ;
#LOCATE COMP "ADCreadxEBO" SITE "A15" ;
#LOCATE COMP "ADCconvstxEBO" SITE "A14" ;
LOCATE COMP "ScanClockxSO" SITE "T11" ; # ScanClock
LOCATE COMP "PowerdownxEO" SITE "R11" ; # powerdown
LOCATE COMP "CochleaResetxRBO" SITE "R7" ; # Vreset 
LOCATE COMP "DataSelxSO" SITE "R12" ; # DataSel
LOCATE COMP "AddSelxSO" SITE "R10" ; # AddSel
LOCATE COMP "BiasgenSelxSO" SITE "T10" ; # BiasGenSel
LOCATE COMP "YbitxSO" SITE "T13" ; # Ybit
LOCATE COMP "AERkillBitxSO" SITE "P6" ; # AERKillbit
LOCATE COMP "VctrlKillBitxSO" SITE "R14" ; # VCtrlKillbit
LOCATE COMP "SelAERxSO" SITE "R13" ; # Selaer
LOCATE COMP "SelInxSO" SITE "T12" ; # SelIn
LOCATE COMP "DACbitInxSO" SITE "R16" ; # DACBitIn
LOCATE COMP "DACClkxSO" SITE "R9" ; # DACclk
LOCATE COMP "DACnSyncxSBO" SITE "P15" ; # DACnSync
LOCATE COMP "PreampARxSO" SITE "R6" ; # PreampA/R
LOCATE COMP "PreampGainRxSO" SITE "R5" ; # PreampGainR
LOCATE COMP "PreampGainLxSO" SITE "R4" ; # PreampGainL
LOCATE COMP "ResCtrlBit1xSO" SITE "T14" ; # ResCtrlBit1
LOCATE COMP "ResCtrlBit2xSO" SITE "T15" ; # ResCtrlBit2
LOCATE COMP "LED1xSO" SITE "A13" ; # CPLDLED1
LOCATE COMP "LED2xSO" SITE "A14" ; # CPLDLED2
LOCATE COMP "LED3xSO" SITE "A15" ; # CPLDLED3
#LOCATE COMP "DebugxSIO_7" SITE "T4" ;
#LOCATE COMP "DebugxSIO_6" SITE "T5" ;
#LOCATE COMP "DebugxSIO_5" SITE "T6" ;
#LOCATE COMP "DebugxSIO_4" SITE "T7" ;
#LOCATE COMP "DebugxSIO_3" SITE "T10" ;
#LOCATE COMP "DebugxSIO_2" SITE "T11" ;
#LOCATE COMP "DebugxSIO_1" SITE "T12" ;
#LOCATE COMP "DebugxSIO_0" SITE "T13" ;
LOCATE COMP "AERMonitorACKxSBO" SITE "P16" ; # nAck-cpld
#LOCATE COMP "ADCwordxDIO_11" SITE "B12" ;
#LOCATE COMP "ADCwordxDIO_10" SITE "A12" ;
#LOCATE COMP "ADCwordxDIO_9" SITE "A11" ;
#LOCATE COMP "ADCwordxDIO_8" SITE "B11" ;
#LOCATE COMP "ADCwordxDIO_7" SITE "B10" ;
#LOCATE COMP "ADCwordxDIO_6" SITE "A10" ;
#LOCATE COMP "ADCwordxDIO_5" SITE "B9" ;
#LOCATE COMP "ADCwordxDIO_4" SITE "B8" ;
#LOCATE COMP "ADCwordxDIO_3" SITE "A7" ;
#LOCATE COMP "ADCwordxDIO_2" SITE "B7" ;
#LOCATE COMP "ADCwordxDIO_1" SITE "A6" ;
IOBUF PORT "PreampGainLxSO" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PreampGainRxSO" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PreampARxSO" IO_TYPE=LVCMOS33 PULLMODE=NONE ;

#IOBUF PORT "SynchOutxSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ; #DO I NEED THIS?! DOES THIS HELP?!

USE SECONDARY NET "PC2xSIO_c" ;
USE SECONDARY NET "PC1xSIO_c" ;
USE PRIMARY NET "uClockGen/CLKOK" ;
USE PRIMARY NET "uClockGen/CLKOS" ;
USE SECONDARY NET "ResetxRBI_c" ;
USE SECONDARY NET "SynchronizerResetTimestampxSB_i" ;
